/* --------------------------body------------------ */
body {
  justify-content: center;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: rgb(150, 170, 160);
  padding: 0;
  text-align: center;
  margin: 0;
}
/* --------------------------body.NavBar------------------ */

nav {
  display: flex;
  justify-content: center;
  background-color: #2e7d32;
  padding: 0.5rem 1rem;
	margin: 5 5;
  font-size: 18px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

nav a:hover {
  background-color: #1b5e20; /* slightly darker on hover */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* gap: 1rem; */
  background-color: green;
}

/* --------------------------body.article.table------------------ */
article table {
  border: 1px solid black;
  border-radius: 15px 15px 15px 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin: 0 auto;
  overflow: hidden;
}

article table th {
  background-color: #444;
  color: #fff;
  padding: 10px;
  border: 2px solid grey;
  text-transform: uppercase;
}

article table td {
  padding: 8px;
  border: 1px solid grey;
  vertical-align: middle;
}

tr.leaderships-damage td{
  background-color: hsla(45, 35%, 50%, 0.9);
}
tr.leaderships-armor td {
  background-color: hsla(60, 35%, 50%, 0.9);
}
tr.buffs-damage td {
  background-color: hsla(170, 35%, 50%, 0.9);
}
tr.buffs-armor td {
  background-color: hsla(180, 35%, 50%, 0.9);
}
tr.buffs-hightier td {
  background-color: hsla(190, 35%, 50%, 0.9);
}
tr.buffs-specials td {
  /* background-color: hsla(200, 35%, 50%, 0.9); */
}
tr.undebuffable-specials td {
  /* background-color: hsla(200, 35%, 50%, 0.9); */
}
tr.debuffs td {
  background-color: hsla(270, 35%, 50%, 0.9);
}

td img {
  height: 40px;
  object-fit: contain;
  vertical-align: middle;
}


/* --------------------------body.article.note------------------ */
article ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* --------------------------body.footer------------------ */
footer {
	padding: 1em 0;
	margin: 2m 0 0 0;
	background-color: green;
}

.type-header {
  background-color: #222;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border: 1px solid #555;
}

article .subtype-header {
  background-color: #ddd;
  font-weight: bold;
  text-align: left;
  padding: 8px;
  border: 1px solid #bbb;
}

article ol.notes {
  font-size: 13px;
  line-height: 1.4;
  margin-top: 20px;
  padding-left: 25px;
}

article ol.notes li {
  margin-bottom: 6px;
}


/* --------------------------footer------------------ */
footer {
	padding: 1em 0;
	margin: 2m 0 0 0;
	background-color: green;
}